<!DOCTYPE html>
<html>
	<head>
		<title>Git Playground</title>
	</head>
	<body>
		<h1>Git Items</h1>
	<hr>
		<div class="git descrisption">
			<h2>Git Descrisption</h2>
				<h3>Uses</h3>
					<ul>
						<li>As a developer, you use git on a routine basis(almost hourly.</li>
						<li>Allows you to use other peoples' code to get ideas & libraries.</li>
						<li>Ensures that your code is safe!</li>
						<li></li>
					</ul>
	<hr>
		<h3>Locations</h3>
			<p>You can "commit" (save) code <b>locally</b>and <b>remotely</b></p>
			<h4>Locally</h4>
					<li>Locally means your browswe connects to a local server.</li>
					<li>You don't have to be online to commit locally.</li>
				</ul>
			<h4>Remotely</h4>
				<ul>
					<li>Remotely means your browser connects to an online server.</li>
					<li>Remotely means that I can work form Hawaii</li>
				</ul>
	<hr>
		</div>

		<div class="using git">
			<h2>Local Set Up</h2>
				<ol>
					<li>Open your command line/terminal.</li>
					<li>Use the cd command to navigate to your folder. For exampple <b>cd desktop/projectfolder</b></li>
					<li>Type in <b>git init</b>. This will set up a repository(repo) for you locally.</li>
					<li>A message like this should pop up: "Initialized empy git reporsitoryv in dir/filename/stuff/here"</li>
				</ol>
	<hr>
		<h2>Local Commits</h2>
			<ol>
				<li>cd to the proper directory in the command line.</li>
				<li>enter <b>git add .</b> <italics>Note: This will add all the files that you've changed.</italics></li>
				<li>enter <b>git commit -m "A note about the things you've changed"</b><italics>Note: The words in quotes can be anything</italics></li>
				<li>Your code us now backed up locally</li>
			</ol>
	<hr>

		<h2>Remote Set Up</h2>
		<p>This will send your code to a remote repository online.</p>
			<ol>
				<li>Log into github</li>
				<li>Find your deskboard</li>
	
	<hr>

		<h3>Routine Commits(You will do this a lot</h3>
			<ol>
				<li>Open your Command Line/Terminal</li>
				<li>Enter in the following commands:</li>
			<ol>
				<li>git add .</li>
				<li>git commit -m "Descibe the code changes you made in quotes.</li>
				</li>



			</ol>



			</ol>


		</div>













	</body>
</html>