<!DOCTYPE html>
<html>
	<head>
		<title>HTML Playground</title>

		<link rel="stylesheet" type="text/css" href="../CSS/main.CSS">
	</head>
	<body>
		<div class="nav">
		<ul>
			<li><a class="default" href="../index.html">Home</li>
			<li><a href="html-playground.html">HTML</a></li>
			<li><a href="CSS-playground.html">CSS</a></li>
			<li><a href="Bootstrap-playground.html">Bootstrap</a></li>
			<li><a href="Javascript-playground.html">Javascript</a></li>
			<li><a href="JQuery-playground.html">JQuery</a></li>
			<li><a href="Git-playground.html">Git</a></li>
			<li><a href="Resources-playground.html">Resources</a></li>
		</ul>	
	</div>


		<h1>HTML Items</h1>
		<h2>Header Tags</h2>
		<h1>h1</h1>
		<h3>h3</h3>
		<h6>h6</h6>
		<hr>

		<h2>Paragraph Tag</h2>
			<p>I can write a bunch of text in here and it will be like a short paragraph. Use this when when describing something, giving info, etc.</p>
		<hr>
		<h2>Hyperlinks and href</h2>
			<p>Use the "a href" tag for a link. Copy and paste the link</p>
				<a href="http://www.w3schools.com/html/html_headings.asp"></a>
		<hr>
		<h2>Images</h2>
			<p>Images are really easy to add. Create a folder called "img". Save images in img folder.</p>
			<p>use the "img" source tag.</p>
				<img src="../img/bunny.jpg">
		<hr>
		<h1>Divs</h1>
			<div id="blue" style="color:blue;border:solid"> 
				<p color = "blue">Hello</p>
			</div>
		<hr>
			<div id = "red" style="color:red">
				<p color = "red"> This is red</p>
			</div>
		<hr>
			<div id = "back" style = "background:red">
				<br>
				<br>
			</div>



	</body>
</html>