<!DOCTYPE html>
<html>
	<head>
		<title>Javascript Playground</title>

		<link rel="stylesheet" type="text/css" href="../CSS/main.CSS">
	</head>
	<body background="http://eskipaper.com/images/tumblr-backgrounds-7.jpg">
		<div class="nav">
		<ul>
			<li><a class="default" href="../index.html">Home</li>
			<li><a href="html-playground.html">HTML</a></li>
			<li><a href="CSS-playground.html">CSS</a></li>
			<li><a href="Bootstrap-playground.html">Bootstrap</a></li>
			<li><a href="Javascript-playground.html">Javascript</a></li>
			<li><a href="JQuery-playground.html">JQuery</a></li>
			<li><a href="Git-playground.html">Git</a></li>
			<li><a href="Resources-playground.html">Resources</a></li>
		</ul>	
		</div>

		<h1 style="text-align:center;">Javascript Items</h1>

		<h2>Age</h2>
			<p>I am <a id="my-age"></a> years old.</p>
		<h2>Birth Year</h2>
			<p>I was born in <a id="my-birthYear"></a> on October 16th.</p>
		<h2>Graduation Year</h2>
			<p>I will graduate in <a id="my-graduationYear"></a> when I'm 18.</p>
		<h2>Bros & Sis</h2>
			<p>I have <a id="my-numBroSis"><a/> brothers and sisters.</p>
		<h2>Kids...</h2>
			<p>I have <a id="my-numKids"></a> kids.</p>

	<button type="button" onclick="alert('Idiot!')">Click Me!</button>

		<br>

		<div id="story">
			<h2>First Story</h2>
				<p>Two friends and I met Skylar Diggins at the Old Speghetti Factory last year when her team was gonna play against the Fever.</p>

			<h2>Second Story</h2>
				<p>I took AP Philiospy last semester and had an A in the class, but never turned in either of my essays due.</p>

			<h3>Third Story</h3>
				<p>I kicked my brother down the stairs when we were younger because he made me angry.</p>

			<button type="button" onclick="alert('Two friends and I met Skylar Diggins at the Old Speghetti Factory last year when her team was gonna play against the Fever.')">Reveal Answer</button>
		</div>

		<script src="../js/scripts.js"></script>


		<br>




	</body>
</html>


