<!DOCTYPE html>
<html>
	<head>
		<title>Resources Playground</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
			<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<link rel="stylesheet" type="text/css" href="../CSS/main.CSS">
	</head>
	<body>
		<div class="nav">
		<ul>
			<li><a class="default" href="../index.html">Home</li>
			<li><a href="html-playground.html">HTML</a></li>
			<li><a href="CSS-playground.html">CSS</a></li>
			<li><a href="Bootstrap-playground.html">Bootstrap</a></li>
			<li><a href="Javascript-playground.html">Javascript</a></li>
			<li><a href="JQuery-playground.html">JQuery</a></li>
			<li><a href="Git-playground.html">Git</a></li>
			<li><a href="Resources-playground.html">Resources</a></li>
		</ul>	
		</div>
		<div>
			<h2>Inspiration & Motivation</h2>
				<p>Here's a little image to keep in mind when things get tough in coding.</p>
				<img src="../img/viking-image.jpg"/>
		</div>

		<div class="resources">
			<h2 style="text-align:center;">Resources</h2>
				<h3>Here are some good resouces:</h3>

			<table border="1">
				<tr>
					<td>Languages</td>
					<td>Site Name</td>
					<td>Link</td>
					<td>Description</td>
				</tr>
				<tr>
					<td>HTML, CSS, JavaScript, JQuery, C# basic, SQL</td>
					<td>w3schools</td>
					<td><a href="https://www.w3schools.com/">w3schools</a></td>
					<td>This site has practice examples for basic web development. It's a good resouce for portfolio buliding and getting code experience as a new developer.</td>
				</tr>
				<tr>
					<td>HTML, CSS, JavaScript, JQuery, Git, Command Line, Python</td>
					<td>CodeAcademy</td>
					<td><a href="https://www.codecademy.com/">CodeAcademy</a></td>
					<td>This site will help you practice your skills. It's probably one of the most popular free learning sites on the web, and they're always updating and keeping up with things. Also has a paid option.</td>
				</tr>
				<tr>
					<td>HTML, CSS, JavaScript, JQuery</td>
					<td>FreeCodecamp</td>
					<td><a href="https://www.freecodecamp.com/challenges/learn-how-free-code-camp-works">FreeCodecamp</a></td>
					<td>This site has practice your skills, and a good resouce for portfolio buliding and getting code experience as a new developer. .</td>
				</tr>
				<tr>
					<td>Bootstrap</td>
					<td>Bootstrap</td>
					<td><a href="http://startbootstrap.com/">StartBootstrap</a></td>
					<td>This site is a free HTML, CSS, & JavaScipt tool that allows you to develop responsive apps. This means that you can create sites that look good on desktop, laptop, and mobile device.</td>
				</tr>
				<tr>
					<td>Any language</td>
					<td>Stack Overflow</td>
					<td><a href="http://stackoverflow.com/">StackOverflow</a></td>
					<td>As you get more and more into development, this site becomes indispensable. It doesn't seem like it now, but you'll understand.</td>
				</tr>
			</table>
		</div>



		






	</body>
</html
